:root {
    --offset: 25px;
    --titleWrapperWidth: 130px;
    --tabColor: #002638;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html, #root {
    width: 100%;
    height: 100%;
    margin: 0 0;
    overflow: hidden;
}

.DataBinApp {
    background-color: #c7edff;
    width: calc(100% - var(--offset));
    height: calc(100% - var(--offset));
    margin-left: calc(var(--offset) / 2);
    margin-top: calc(var(--offset) / 2);
    outline: 3.5px solid #005e8d;
}

.DataBinStructure {
    width: 100%;
    height: calc(100% - 110px);
}

.DataBinStructureContent {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin-left: 5px;
    margin-top: 5px;
    overflow-y: auto;
}

.DataBinStructureTag {
    margin-bottom: -1px;
}

.DataBinStructureTagName {
    position: relative;
    top: -10px;
    font-size: 20px;
}

.DataBinRibbon {
    background-color: #0074ad;
    height: 50px;
}

.DataBinTitleWrapper {
    height: 100%;
    width: var(--titleWrapperWidth);
    text-align: center;
    vertical-align: middle;
}

.DataBinTitle {
    font-size: 32px;
    color: white;
    text-align: center;
}

.DataBinTabs {
    width: calc(100% - var(--titleWrapperWidth));
    position: absolute;
    top: calc(var(--offset) - 7.5px);
    left: calc(var(--titleWrapperWidth) + 20px);
}

.DataBinTabsWrapper {
    color: white;
}

.DataBinTab {
    position: inherit;
    width: 80px;
}

.DataBinTab * {
    background-color: var(--tabColor) !important;
    border-color: white !important;
    color: white !important;
}

.DataBinToolbox {
    background-color: #77d4ff;
    height: 60px;
    overflow-x: scroll;
}

.DataBinToolbox button {
    width: 35px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 2px;
    padding-top: -5px;
    background-color: transparent;
    border: 0;
}

.DataBinToolbox .selectedType {
    background-color: rgb(0, 86, 156);
}

.DataBinStructureIndented {
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: -37.5px;
}

.DataBinStructureTagIcon {
    width: 37px;
    height: 37px;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
}

.DataBinStructureTagIcon:hover {
    background-color: #77d4ff;
}

.DataBinDialogBG {
    z-index: 50;
    background-color: rgba(53, 106, 253, 0.2);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.DataBinDialog {
    background-color: #c7edff;
    border: 5px solid black;
    width: 1000px;
    height: 250px;
    top: calc(50% - 120px);
    left: calc(50% - 500px);
    position: absolute;
}

.DataBinDialogText {
    width: 650px;
    height: 150px;
    line-height: 150px;
    margin-top: 25px;
    margin-left: calc(50% - 310px);
    font-size: 24px;
    text-align: center;
}

.DataBinDialogText span {
    display: inline;
    vertical-align: middle;
    line-height: normal;
}

.DataBinDialogButtons {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.DataBinDialogButtons button {
    height: 40px;
    font-size: 20px;
    margin-left: 25px;
    margin-right: 25px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: #005f8b;
}

.DataBinDialogButtons button:hover {
    background-color: #00344d;
}

.DataBinCrash {
    width: 100%;
    height: 100%;
    background-color: #0074ad;
    color: white;
}

.DataBinCrash * {
    margin: 0 0;
}

.DataBinCrashTitle {
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 30px;
}

.DataBinCrashBody {
    width: 100%;
    height: calc(100% - 50px);
    text-align: center;
    font-size: 20px;
}

.DataBinCrashReload {
    background-color: #002638;
    border: 2px solid white;
    width: 240px;
    height: 40px;
    font-size: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.DataBinCrashReload:hover {
    background-color: white;
    border: 2px solid #002638;
    color: #002638;
}

.DataBinCrashDetails {
    background-color: #002638;
    border: 2px solid white;
    resize: none;
    width: 80%;
    height: 30%;
    font-size: 20px;
    color: white;
}